/* common style */

body{
    touch-action: none;
    background-color: #a1453f;
    color:rgb(193, 193, 193);
}
h2{
    margin:0;
}
hr{
    margin:0;
    border: 0;
    border-top: 3px solid #8e3e39;
}
fieldset{
    display: inline-block;
    border: 15px solid #131313;
    border-radius: 20px;
    background-color: #252525;
    padding: 5px;
    box-shadow: 10px 10px #8e3e39;
}
legend{
    font-size:20px;
}
button{
    color:rgb(193, 193, 193);
    background-color: #1d1d1d;
    border: 5px solid #131313;
    border-radius: 10px;
}

button:hover:not(button:active){
    background-color: #313131;
}
button:active, .buttonActive{
    background-color: #141414;
}

#verNum{
    float: right ;
    color: #843a34;
}
/* Timer Selecter */
#setTime{
    float:left;
    width: 35vw;
    justify-content: center;
    .buttonBlock{
        width: 30%;
        margin:0 1%;
        display: inline-block;
        p{
            text-align: center;
            margin:0;
            font-size:30px;
        }
        button{
            width: 100%;
            height: 50px;
        }
    }
}

#disarmKeyPad{
    width: 25vw;
    display: grid;
    place-items: center;
    margin-left: 50vw;
    img{
        background-color: #1d1d1d;
        padding: 5px;
        float:left;
        position: fixed;
        display:none;
    }
    #codeDisplay{
        text-align: center;
        font-size: 300%;
        span{
            background-color: rgb(29, 27, 27);
        }
    }
    #keyPad{
        display: block;
        margin: 0 auto;
        button{
            font-size: 20px;
            margin-top: 5px;
            width: 7vw;
            height: 5vw;
        }
    }
}
/* Keypad (both setup and timer)*/
/*
#disarmKeyPad{
    
    width: 40vw;

    #keyPad{
        position: relative;
        left:20%;
    }
    button{
        width: 80px;
        height: 45px;
    }
    img{
        background-color: #1d1d1d;
        padding: 5px;
        float:left;
        position: fixed;
        display:none;
    }
    .locked{
        background-color: #000000;
    }
    #codeDisplay{
        text-align: center;
        p{
            display: inline-block;
            margin:0;
            font-size:50px;
            background-color: rgb(29, 27, 27);
        }
    }
}
*/
/* Submit Menu*/
#submitButton{
    width: 30vw;
    border-width: 15px;
    float:left;
    margin-top: -10vh;
}
#blur{
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    background-color: #000000;
    filter:opacity(.5);
}


.submitMenu{
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0;
    h1{
        margin:0;
        margin-top: -20px
    }
    button{
        padding:10px;
    }
}
#submitConfirm{
    h4{
        margin:0;
    }
    
    div{
        display: flex;
        span{
            margin:0 50px;
        }
    }
    #code{
        float:right;
        margin-right:100px
    }
    #sumitTime{
        margin-left:75px;
        font-weight: bold;
        span{
            font-weight: 100;
        }
    }
}
.hide{
    display: none;
}

#armBombButton{
    color:rgb(184, 50, 50);
}

/* Timer HTML styles*/
#countDownTimer{    
    width: 60vh;
    height: 60vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;   
    float:left;
    section{
        display: flex;
        justify-content: center;
        align-items: center;   
        width: 80%;
        height: 80%;
        border-radius: 10000px;
        background: conic-gradient(rgb(26, 255, 0) 0deg, rgb(255, 0, 0) 1deg);
        #clock{
            margin: auto;
            width:  72%;
            height: 72%;
            border-radius: 10000px;
            border: 15px solid #131313;
            
            background-color: rgb(193, 193, 193);
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            #timerDisplay{
                text-align: center;
                margin:20px;
                font-size: 30px;
                color:#000000;
                float:left;
            }
            
        }
        
    }
    
}
