section{
    display: inline-block;
    margin: 0 40px;
}
h3{
    position: absolute;
    color:red;
    top:70px;
}
#setTime{
    position: fixed;
    left: 35px;
    .buttonBlock{
        width: 100px;
        display: inline-block;
        p{
            text-align: center;
            margin:0;
            font-size:30px;
        }
        button{
            width: 100px;
            height: 50px;
        }
    }
}


#disarmTitle{
    left: 475px;
}
#disarmCode{
    position: fixed;
    left: 550px;
    button{
        width: 80px;
        height: 45px;
    }
    #codeDisplay{
        text-align: center;
        p{
            display: inline-block;
            margin:0;
            font-size:50px;
            background-color: aqua;
        }
    }
    #keyPad{
        span{
            margin: 20px,0;
        }
        button{
            margin: 0,20px;
        }
    }
}

