/* common style */

body{
    background-color: #a1453f;
    overflow: hidden;
    color:rgb(193, 193, 193);

}
h2{
    margin:0;
}
hr{
    margin:0;
    border: 0;
    border-top: 3px solid #8e3e39;
}
fieldset{
    display: inline-block;
    border: 15px solid #131313;
    border-radius: 20px;
    background-color: #252525;
    padding: 20px;
    box-shadow: 10px 10px #8e3e39;
}
legend{
    font-size:20px;
}
button{
    color:rgb(193, 193, 193);
    background-color: #1d1d1d;
    border: 5px solid #131313;
    border-radius: 10px;
}

button:hover:not(button:active){
    background-color: #313131;
}
button:active, .buttonActive{
    background-color: #141414;
}

/* Timer Selecter */
#setTime{
    position: fixed;
    left: 2%;
    .buttonBlock{
        width: 100px;
        display: inline-block;
        p{
            text-align: center;
            margin:0;
            font-size:30px;
        }
        button{
            width: 100px;
            height: 50px;
        }
    }
}

/* Keypad */

#disarmTitle{
    left: 475px;
}
#disarmKeyPad{
    top: 50px;
    position: fixed;
    left: 50%;
    button{
        width: 80px;
        height: 45px;
    }
    img{
        background-color: #1d1d1d;
        padding: 5px;
        float:left;
        position: fixed;
        display:none;
    }
    .locked{
        background-color: #000000;
    }
    #codeDisplay{
        text-align: center;
        p{
            display: inline-block;
            margin:0;
            font-size:50px;
            background-color: rgb(29, 27, 27);
        }
    }
    #keyPad{
        span{
            margin: 20px, 0;
        }
        button{
            margin: 0, 20px;
        }
    }
}
/* Submit Menu*/
#blur{
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    background-color: #000000;
    filter:opacity(.5);

}

#submitButton{
    position: fixed;
    width: 346px;
    top: 80%;
    left: 2%;
    border-width: 15px;
    margin: 0 auto;
    padding: 10px 100px;
}
.submitMenu{
    width:400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0;
    h1{
        margin:0;
        margin-top: -20px
    }
    button{
        padding:10px;
    }
}
#submitConfirm{
    h4{
        margin:0;
    }
    
    div{
        display: flex;
        span{
            margin:0 50px;
        }
    }
    #code{
        float:right;
        margin-right:100px
    }
    #sumitTime{
        margin-left:75px;
        font-weight: bold;
        span{
            font-weight: 100;
        }
    }
}
#submitErr{

}
.hide{
    display: none;
}

